body {
  padding-top: 56px;
}


div {
	outline: 0px dotted red;
}

/*HEADER*/


@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (min-width: 360px) and (max-width: 768px) {

}

@media screen and (min-width: 320px) and (max-width: 360px) {

}


/*./HEADER*/

/*CONTENT*/
.main.admin-panel {
	
}

.main.admin-panel.executor .card {
	margin-bottom: 1.5rem;
}

/*./CONTENT*/

/*FOOTER*/
footer {

}

/*./FOOTER*/

/*MISC*/

/*form outline*/

/*.*form outline*/

.padding-l0-r0 {
	padding-left: 0px;
	padding-right: 0px;
}

.padding-l-10 {
	padding-left: 10px;
}

.padding-r-10 {
	padding-right: 10px;
}

.padding-0-0 {
	padding: 0 0;
}

.margin-l-10 {
	margin-left: 10px;
}

.margin-r-10 {
	margin-right: 10px;
}

.margin-0-0 {
	margin: 0 0;
}

.shadow {
	box-shadow: 0 0 10px rgba(0,0,0,0.4)
}

/*floats*/
.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clear-both {
	clear: both;
}
/*./floats*/

/*./MISC*/